<div class="row">
    <h3>Services</h3>
</div>

<div class="row">
    <div class="col-md-9">
        <p>Los services son aquellas clases dentro de angular que tienen como subfijo ".service" y tienen como objetivo principal ser los proveedores, gestores y/o modificadores  de los que son nuestros datos. </p>
        <br>
        <p>Pueden hacer uso de peticiones api para traer datos, modificadores o procesadores.</p>
        <br>
        <p>La estructura es muy similar a un component pero la diferencia radica en que usa el decorador @injector y adicional la declaracion para poder hacer uso de este es en la seccion de "providers" en el .module </p>
    </div>
    <div class="col-md-3">
        <h4>Ejemplo:</h4>
        <strong> Mirar ejemplo en shared/services y app.module</strong>
    </div>
</div>