<div class="row">
    <h4>Paquetes</h4>
</div>
<div class="row">
    <div class="col-md-9">
        <p>
            Los paquetes y/o librerias son herramientas que nos ofrece la comunidad de Angular/TypeScript / JavaScript para facilitarnos el desarrollo de algo. Para instalarlo solo tenemos que usar el NPM y podemos encontrarnos con librerias dispuestas para angular o dispuestas para JavaScript
            <br>
            <br>
            Si es para angular es muy importante verificar la compatibilidad con las versiones ya que angular puede actualizar su entorno y dejar incompatible una libreria.
            <br>
            
        </p>   
    </div>
    <div class="col-md-3">
        <h5>Ejemplo: </h5>
        <strong>Mirar la siguiente seccion(row)</strong>
    </div>
</div>

<div class="row">
    <canvas baseChart
    [type]="'bar'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas>
</div>