    <!-- el container sirve para mantener uniforme el ancho   -->
    <app-componentes></app-componentes>
    <hr>
    <app-bindings></app-bindings>
    <hr>
    <app-calculadora></app-calculadora>
    <hr>
    <app-directives></app-directives>
    <hr>
    <app-ciclos-de-vida></app-ciclos-de-vida>
    <hr>
    <app-comunicacion-componentes #componentHijo [unValorDelPadre]="nombre" (unEventoParaElPadre)="funcionEnPadre($event)"></app-comunicacion-componentes>

    <button (click)="holaSoyUnaFuncion()">Soy parte del componente padre</button>
    <button (click)="componentHijo.imprimirAlerta('Hola me llamaron desde el padre')">Soy parte del padre y llamo una funcion del hijo</button>

    <hr>
    <app-routing></app-routing>
    <hr>
    <app-models></app-models>
    <hr>
    <app-services></app-services>