<div class="row">
    <h3>React Form</h3>
</div>
<div class="row">
    <div class="col-md-9">
        <p>
            React form forma parte de la libreria ReactiveFormsModule de angular y nos sirve para construir formularios de manera reactiva. Gracias a este modulo no dependemos de ngModel y nos facilita la capacidad de manejar valores, hacer validaciones ya sean sincronas o asincronas e incluso podemos hacer nuestras propias validaciones. 
        </p>
        <br>
        <p>Es importante recordar que debemos determinar un etiqueta form que llevara el control de nuestro FormGroup y cada elemento tendra un formControl que se identificara respectivamente en el template con su formControlName</p>
    </div>
    <div class="col-md-3">
        <h4>Ejemplo:</h4>
        <p>Podemos ver un ejemplo claro en nuestro modulo de shopping en el componente contactanos</p>
    </div>
</div>