<div class="row">
    <h3>Modulos</h3>
</div>
<div class="row">
    <div class="col-md-9">
        <p>
            Los modulos son una forma de segmentar nuestro proyecto para poder derivar responsabilidades de manera independiente cada modulo podra importar, declarar, exportar y proveer.
        </p>
        <br>
        <p>
            Los modulos se pueden importar entre ellos y es importante no hacer una referencia ciclica, para eso tenemos el metodo de importancion por routing o por el mismo .module ... Es importante recordar que los modules pueden tener un hermano routing aunque no es indispensable

        </p>
    </div>
    <div class="col-md-3">
        <h4>Ejemplo:</h4>
        <p>Visualizar los archivos  <strong>app-routing.module</strong>, <strong>clase.module </strong>  y  <strong>clase-routing.module</strong></p>
    </div>
</div>