<div class="row">
    <h3>Model</h3>
</div>

<div class="row">
    <div class="col-md-9">
        <p>
            Los modelos son clases/interfaces que representa las esutrcturas de datos de nuestra aplicacion. Estas clases nos ayudaran a mantener un mejor orden dentro de nuestra aplicación. Como principal beneficio podemos decir que son los encargados de la estructura y generar una actualizacion sobre esta lo hara de manera global en la aplicacion.
        </p>
        <br>
        <p>
            Estos nos facilitan la comunicación ya que con ellos podremos hacer type en nuestros objetos y tener una estructura de manera general en la aplicacion mas clara.
        </p>
    </div>
    <div class="col-md-3">
        <h4>Ejemplo:</h4>
        <strong>Verificar en la carpeta src/shared/models</strong>
    </div>
</div>