<div class="row">
    <h4>Pipes</h4>
</div>
<div class="row">
    <div class="col-md-9">
        <p>
            Los pipes son un caracteristica de angular que permite transformar y dar formato a los datos que estamos gestionando en la aplicacion. Los cambios se realizan en tiempo real y se dan gracias a los ciclos de vidas en su proceso de renderizacion.
            <br>
            <br>
            la sintaxis de los pipes es la siguiente:
            abrimos nuestros interpolacion con las 
            &#123; &lcub; variable | pipe &#125; &rcub; 
            donde nosotros podremos modificar la visibilidad
            <br>
            Existen diversos tipos de pipes y lo podemos clasificar basicamente en 2... nativos de angular y personalizados
        </p>   
    </div>
</div>
<div class="row">
    <h4>Pipes nativos de angular</h4>
</div>
<div class="row">
    <h5>Currency Pipe</h5>

</div>
<div class="row">
    <div class="col-md-9">
        <p>
            El currency pipe sirve para transformar nuestros datos numericos en formatos de moneda
            <br>
            el pipe tiene un nombre de currency y le podemos añadir atributos...

            ejemplo personalizado: currency:'EUR'
        </p>

    </div>

    <div class="col-md-3">
        <h4>Ejemplo:</h4>

        <p>Este es sin pipe: {{precioEmpanada}}</p>

        <p>Con pipe: {{precioEmpanada|currency}}</p>

        <p>{{ precioEmpanada | currency:'COP':'$':'1.2-16'}}</p>
    </div>
</div>
<div class="row">
    <h5>Decimal Pipe</h5>
</div>
<div class="row">
    <div class="col-md-9">
        <p>
            El decimal pipe sirve para dar formato a los numericos (y en caso de haber decimales redondear)
            <br>
            la sintaxis es : number : digitos : locale
        </p>
    </div>
    <div class="col-md-3">
        <h5>Ejemplo:</h5>
        <p>Sin pipe : {{numeroPi}}</p>
        <p>Con pipe : {{numeroPi|number}}</p>
        <p>{{ numeroPi | number:'1.2-2'}}</p>
    </div>
</div>
<div class="row">
    <h5>Percent pipe</h5>
</div>
<div class="row">
    <div class="col-md-9">
        <p>El percent pipe se utiliza para formarte un numero como porcentaje donde se trabaja entre 0 y 1 siendo la sintaxis:
            <br>
            numero | percent
        </p>
    </div>
    <div class="col-md-3">
        <h5>Ejemplo:</h5>
        <p>Un numero sin pipe: {{porcentajeEjemplo}}</p>
        <p>Con pipe: {{porcentajeEjemplo | percent}}</p>
        <p>{{ porcentajeEjemplo | percent:'2.2-2'}}</p>
    </div>
</div>
<div class="row">
    <h5>Uppercase pipe</h5>
</div>
<div class="row">
    <div class="col-md-9">
        <p>El uppercase pipe sirve para convertir nuestro string en mayuscula</p>
    </div>
    <div class="col-md-3">
        <h5>Ejemplo:</h5>
        <p>Sin pipe: {{ mensajeEjemplo }}</p>
        <p>Con pipe: {{ mensajeEjemplo  | uppercase}}</p>
    </div>
</div>
<div class="row">
    <h5>Lowercase pipe</h5>
</div>
<div class="row">
    <div class="col-md-9">
        <p>El Lowercase pipe sirve para convertir el texto en minuscula</p>
    </div>
    <div class="col-md-3">
        <h5>Ejemplo:</h5>
        <p>Sin pipe: {{ 'HoLa EsToY InTerCalAdO' }}</p>
        <p>Con pipe: {{ 'HoLa EsToY InTerCalAdO' | lowercase }}</p>
    </div>
</div>
<div class="row">
    <h5>Titlecase pipe</h5>
</div>
<div class="row">
    <div class="col-md-9">
        <p>El titlecase es un pipe que sirve para convertir la primera letra de cada palabra en mayuscula y el resto lo deja en minuscula</p>
    </div>
    <div class="col-md-3">
        <h5>Ejemplo:</h5>
        <p>Sin pipe: {{ 'Un posible titulo va aca' }}</p>
        <p>Con pipe: {{ 'Un posible titulo va aca' | titlecase }}</p>
    </div>
</div>
<div class="row">
    <h5>Slice pipe</h5>
</div>
<div class="row">
    <div class="col-md-9">
        <p>El slice se utiliza para extraer una porcion de un string o un array y mostrarla en pantalla

            <br>
            su sintaxis es : slice : inicio : final?
        </p>
    </div>
    <div class="col-md-3">
        <h4>Ejemplo:</h4>
        <p>Sin pipe: {{variableEjemplo }}</p>
        <input type="text" [(ngModel)]="filtro" name="filtro">
        <p>Con pipe: {{ variableEjemplo | slice : variableEjemplo.indexOf(filtro)}}</p>

        <p>{{ variableEjemplo | slice : 1: 6}}</p>
    </div>
</div>
<div class="row">
    <h5>Date pipe</h5>
</div>
<div class="row">
    <div class="col-md-9">
        <p>
            El date pipe sirve para formatear nuestras fechas 
            <br>
            la sintaxis es la siguiente
            <br>
             date : formato?  : zonaHoraria ?  : region? 
        </p>
    </div>
    <div class="col-md-3">
        <h5>Ejemplo:</h5>
        <p>Sin pipe: {{ fechaHoy }}</p>
        <p>Con pipe: {{ fechaHoy | date}}</p>
        <p>Con formato: {{ fechaHoy | date : 'shortDate'}}</p>
        <p>Personalizado: {{ fechaHoy | date : 'dd/MM/yyyy'}} </p>
    </div>
</div>
<div class="row">
    <h5>Algunos ejemplos</h5>
</div>
<div class="row">
    <ul>
        <li *ngFor="let animal of animales | slice:1:3">{{animal}}</li>
    </ul>
    <ul>
        <li *ngFor="let animal of animales ">{{animal | uppercase}}</li>
    </ul>
</div>

<div class="row">
    <h5>Pipe personalizado</h5>
</div>
<div class="row">
    <div class="col-md-9">
        Los pipes personalizados son aquellos que ejecutan alguna funcion definida por el desarrollador para gestionar la data segun la necesidad.
    </div>
    <div class="col-md-3">
        <h5>Ejemplo</h5>
        <p>Sin pipe: {{ 'venta' }}</p>
        <p>Con pipe: {{ 'venta' | prefijo:'pre-':5 }}</p>
        <input type="text" [(ngModel)]="filtro" name="filtro">
        <ul>
            <li *ngFor="let animal of animales | filtro:filtro">{{animal}}</li>
        </ul>
    </div>
</div>